fastapi==0.136.1
uvicorn
pydantic==2.13.3
python-dotenv==1.2.2
bcrypt
python-jose[cryptography]
SQLAlchemy==2.0.49
pymysql
pandas<3.0.0
joblib
matplotlib
numpy
scikit-learn
scipy
seaborn
statsmodels
tensorflow-cpu
python-multipart